*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
i{
  margin-right: 10px;
}
a{
  font-size: 20px;
  padding: 0%;
  text-decoration: none;
  color: inherit;
}
.header{
  background-image: url("landing 1.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 3px 0 black;
  /* width: 1280px; */
  height: 100vh;
  width: 100vw;
  margin: 0;
}
.header-logo{
  float:left;
  color: #fff;
  padding:20px;
  font-size: 20px;
  font-weight: bold;
}
.header-list{
  float: right;
  margin-bottom: 120px;
}
.header-list li{
  list-style: none;
  float:left;
  padding:40px 30px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.header-list li :hover{
  opacity: 0.5;
  transition: 0.3 all;
}
.header-center{
  text-align: center;
  width:250px; 
  margin:0 auto;
  font-weight: bold;
  color: #fff;
}
.header-center h1{
  text-decoration: underline;
  text-decoration-color: greenyellow;
}
.page-top-btn{
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-weight: bold;
  padding: 0.7em;
  text-align: center;
  background: rgb(108, 161, 129);
  color: #fff;
  transition: 0.3s;
  z-index: 5;
}
.copy-container{
  border: 1px dashed black;
  margin: 100px 30px 50px 30px;
  padding: 30px 30px;
}
.copy-container h1{
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  line-height: 70px;
}
.copy-writer{
  text-align: center;
  padding-top: 20px;
  display: flex;
}
.cw-image img{
  height: 400px;
  margin: 30px;
  border-radius: 10px;
}
.cw-sentence h1{
  margin: 30px;
  font-size: 30px;
  line-height: 80px;
}
#note-modal-open{
  border: none;
  background-color: rgb(99, 191, 99);
  text-align: center;
  padding: 40px 50px;
  margin: 30px 10px;
  border-radius: 10px;
  border-bottom: 7px solid rgb(46, 85, 46);
  box-shadow: 0 3px 4px black;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
}
#note-modal-open:hover{
  /* margin-top: 3px; */
  border-bottom: 1px solid rgb(46, 85, 46);
}
#modal{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: gray;
  z-index: 10;
  overflow-y: scroll;
}
.note-modal-container{
  background-color: #fff;
  margin: 20px auto;
  width: 50%;
  box-shadow: 0 2px 5px;
  animation-name: popup;
  animation-duration: 1.1s;
  animation-delay: 0.8s;
}
@keyframes popup{
  from {
    transform: translateY(150%);
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.modal-header{
  background-color: greenyellow;
  display: flex;
  justify-content: space-between;
  padding: 3px 15px;
}
.modal-header h1{
  margin: 10px;
  font-weight: bold;
  text-align: center;
}
#note-modal-close{
  font-size: 1.3rem;
  cursor: pointer;
}
#modal-close-icon{
  font-size: 1.3rem;
  cursor: pointer;
}
.modal-body{
  padding: 15px;
}
.modal-article{
  display: flex;
  border: 1px dotted black;
  padding: 10px;
  margin: 10px 20px;
}
.modal-article img{
  height: 150px;
  width: 100%;
  margin: 10px 20px;
  /* overflow: hidden; */
  object-fit: cover;
  flex: 2;
}
#note-modal-close{
  border: 1px dashed black;
  margin: 20px auto;
  width: 100px;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.gallery{
  border: 1px dashed black;
  text-align: center;
  padding: 30px;
  margin: 50px 30px;
}
.gallery h2{
  font-size: 35px;
}
.g-area{
  display: flex;
  flex-wrap: wrap;
}
.g-area a{
  margin: 10px auto;
}
.g-area img{
  width: 330px;
  height: 330px;
  margin: 20px auto;
  border-radius: 50%;
  transition: 0.7s;
  filter: sepia(60%);
  object-fit: cover;
}
.g-area img:hover{
  border-radius: 10px;
  opacity: 0.9;
  transform: scale(1.1);
  filter: sepia(0);
}
.profile{
  background-color: black;
  text-align: center;
  color: #fff;
  height: 500px;
  padding: 30px;
  margin: 50px 30px;
}
.profile h3{
  font-size: 35px;
  margin: 30px;
  padding: 30px;
} 
.pf-contents{
  display: flex;
  justify-content: space-around;
}
.pf-content{
  flex: 1;
  border: 1px dashed white;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  /* display: none; */
}
.pf-content.active{
  animation: profile 1s;
  transition: all 0.7s;
  /* display: block; */
}
@keyframes profile {
  from{
    opacity: 0;
    transform: translateY(30px);
  }
  to{
    opacity: 1;
  }
}
.pf-content:hover{
  transform: rotateY(360deg);
}
.pf-content i{
  font-size: 50px;
}
.pf-content p{
  font-size: 16px;
  text-align: center;
}
.map-contents{
  border:1px dashed black;
  margin: 50px 30px;
  padding: 30px;
}
.access{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}
.google-map{
  width: 800px;
  height: 500px;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  border: 3px solid black;
  filter: invert(100%) hue-rotate(-180deg);
}
/* .map-contents p{
  text-align: center;
  font-weight: bold;
  margin: 20px;
} */
.contact{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed black;
  padding: 50px 30px;
  margin: 50px 30px;
}
.title{
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}
form{
  width: 500px;
  margin: 0 auto;
}
.item{
  overflow: hidden;
  margin-bottom: 20px;
}
.label{
  float: left;
  margin-right: 20px;
  width: 150px;
  border-left: 3px dashed greenyellow;
  padding-left: 15px;
}
.inputs{
  float: left;
  width: 300px;
}
input[type="text"]
input[type="email"]{
  border: 1px dashed gray;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
}
textarea{
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  height: 150px;
  width: 300px;
  margin-left: 180px;
}
.btn-area{
  text-align: center;
}
input[type="submit"]{
  background: green;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 10px;
  box-shadow: 3px 3px 5px black;
}
input[type="reset"]{
  background:black;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 10px;
  box-shadow: 3px 3px 5px black;
}
input[type="submit"]:hover{
  letter-spacing: 1px;
  opacity: 0.9;
}
input[type="reset"]:hover{
  letter-spacing: 1px;
  opacity: 0.9;
}
.sns{
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 30px;
}
.cp{
  display: flex;
  justify-content: center;
  margin: 20px;
  padding-bottom: 20px;
}